.article {
    border: 1px solid rgb(241, 236, 236);
    margin-top: 50px;
    padding: 50px;
    img {
        max-width: 780px;
        margin-top: 20px;
    }
}
.article-text {
    text-align: left;
    margin-top: 40px;
    font-size: 13px;
    line-height: 2;
}
.text-title {
    color: gray;
}
